OPENAI_API_KEY=<YOUR_OPENAI_API_KEY>
E2B_API_KEY=<YOUR_E2B_SANDBOX_API_KEY>

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=<YOUR_LANGSMITH_ENDPOINT>
LANGSMITH_API_KEY=<YOUR LANGSMITH_API_KEY>
LANGSMITH_PROJECT=<YOUR_LANGSMITH_PROJECT> # The project name is used to register normal traces in Langsmith but also traces that give respect to custom automations and stored in the respective datasets.
LANGSMITH_TRACING_SAMPLING_RATE=0.1 # Sample rate for tracing, adjust accordingly (The lower, the less costly, but less data for analysis)